
/*=========== Colors ============= */
/* Primary Color: #eb0029
Primary Dark Shades: #e60028   #b3001f   #800016  #4d000d  #1a0004
Primary Light Shades: #ff1a42  #ff4d6c   #ff8096  #ffb3c0  #ffe5ea

Secondry Color: #ff9b24
Secondry Dark Shades: #e67d00  #b36100  #4d2a00 #1a0e00
Secondry Light Shades: #ff961a #ffad4d  #ffc580 #ffdcb3 #fff3e5 */


.marquee-iconic-box .icon {
    background: #ccc;
}
.cred_icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: transparent;
    padding: 6px;
}


.form_cta_home{
    display: flex;
    align-items: center;
}

.main_color{
color: #eb0029!important;
}
.bgc-primary{
  background: #eb0029;
}
.main_colorbg{
background: #eb0029!important;
}
.secondry_color{
color: #ff9b24!important;
}
.secondry_colorbg{
background: #ff9b24!important;
}
.dark_colorbg{
    background: #374151!important;
}
.bgc-black{
  background: #000;
}


.banner_image img{
  background: #fff;
  max-height: 420px;
  width: 100%;
  object-fit: contain;
  border: 8px solid #000;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.footer-top-cta-area::after {
    display: none;
}


.slider-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust as needed */
    overflow: hidden;
}

.img_wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img_wrapper img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.img_wrapper h3{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
   padding: 8px 20px;
   color: #fff;
   font-size: 20px;
}
.img_wrapper.active {
    opacity: 1;
}


.slide_sec_tp{
    background: #ffe5ea;
    }
    
    .custom-marquee-container {
      overflow: hidden;
      padding: 16px 0;
    }
    
    .custom-marquee {
      display: flex;
      gap: 1.5rem;
      animation: custom-slide 60s linear infinite;
      white-space: nowrap;
      width: max-content;
    }
    
    .custom-marquee-item {
      font-size: 1.2rem;
      font-weight: 600;
      color: #222;
      background: #ffffff;
      padding: 8px 16px;
      border-radius: 6px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .custom-marquee-item span {
      color: #eb0029;
    }
    
    @keyframes custom-slide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }



.tab_sec_home{
background: #f8f4f1!important;
}
.tab_sec_home .advanced-tab.style-two li {
  margin: 0 10px -1px;
}
.tab_sec_home .advanced-tab.style-two li button{
  padding: 8px 12px;
}
.tab_sec_home .advanced-tab.style-two li button:hover{
  color: #000!important;
}
.tab_sec_home .advanced-tab.style-two li button.active{
  background: #eb0029;
  color: #fff;
}
.tab_sec_home .advanced-tab.style-two li button.active:hover{
  background: #eb0029;
  color: #fff!important;
}
.tab_sec_home h3 span{
  color: #ff9b24;
}
.tab_sec_home .icon-list i{
  background: #ff9b24!important;
}
.icon-list.style-two li i {
  background: #ff9b24!important;
}
.style_tab_icons .icon-list.style-two li i {
  background: #ff9b24!important;
}
.icon-list.style-two li{
  font-size: 18px!important;
}
.tab_sec_home .theme-btn{
  background: #ff9b24!important;
}
.feature-icon-box .icon {
  background: #ff9b24;
}
.tab_sec_home .content p{
  margin-top: -25px;
  margin-bottom: -20px;
}
.tab_sec_home .image img{
  max-height: 420px;
  width: 100%;
  object-fit: contain;
  border: 8px solid #000;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.images_shocase_sec .img_itm{
  padding: 10px 0;
}
.images_shocase_sec .img_itm img{
  max-height: 180px;
  margin-right: 20px;
  border: 6px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.form_cta_home .form-control{
padding: 10px;
border-radius: 4px;
background: #fdfbf9;
}

.logo_head img{
  height: 50px!important;
}

.cta_md_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: 5px solid #fff;
}

.work_process_sec{
  margin-top: 50px;
  background: #f8f4f1;
}

.how_works_image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid #222;
}
.bgc-lighter {
  background-color: #f8f4f1;
}

.footer-bottom .scroll-top {
  background: #ff9b24;
  color: #fff;
}
.footer-title {
  font-size: 24px;
}
footer p, footer  a, footer li{
  color: #bbb!important;
}

footer  a:hover{
  color: #fff!important;
}
.foot_top_title p{
  color: #555!important;
}
.foot_top_right a{
  color: #fff!important;
}
.foot_top_right p{
  color: #666!important;
}
.footbtnanm{
  animation-direction: alternate-reverse !important;
  animation: zoom 2s infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}

.demo_div_mobile{
  display: none;
}


.hero_title_sm {
  font-size: 56px!important;
}
.pos_system_features span{
  font-weight: 600;
  color: #222;
}


.bg-overlay {
  position: relative;
  background: url(assets/img/bgtp1.jpg);
  background-size: cover;
  background-position: center;
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Adjust transparency (0.5 = 50% opacity) */
}

.sec_pds{
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 1200px) {
  .hero_title_sm {
    font-size: 42px!important;
  }
}
@media only screen and (max-width: 991px) {
  .rpt-150, .rpy-150 {
      padding-top: 120px;
  }
  .cta_md_img{
    margin-top: 40px;
    margin-bottom: -10px;
  }
  .footer-top-cta-wrap {
    padding-left: 20px;
    padding-right: 20px;
}
.sec_pds{
  padding-top: 40px;
  padding-bottom: 0;
}
.reverse_mobile{
  display: flex;
  flex-direction: column-reverse;
}
.mobile-logo img{
  height: 40px!important;
  width: auto!important;
}
.benefits_row{
  display: flex;
  flex-direction: column-reverse;
}
.demo_div_mobile{
  display: block;
}
.hero_contentp{
  margin-top: -30px;
  font-size: 14px;
}
.banner_image{
  margin-top: -40px;
}
.demo_div_desktop{
  display: none;
}
.effortless_sec{
  display: flex;
  flex-direction: column-reverse;
}
}
@media screen and (max-width: 576px) {
    .img_wrapper h3{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
       padding: 8px 10px;
       color: #fff;
       font-size: 16px;
    }
    .hero_title_sm {
      font-size: 32px!important;
    }
    .tab_sec_home .advanced-tab.style-two li {
      margin: 0 5px -1px;
    }
    .tab_sec_home .advanced-tab.style-two li button{
      padding: 5px 8px;
    }
    .tab_sec_home h2{
      margin-bottom: 0;
    }
    .tab_sec_home .advanced-tab {
      margin-top: -25px;
    }
    .img_wrapper img {
      height: 220px;
    }
    .slider-container {
      position: relative;
      width: 100%;
      height: 220px;
      overflow: hidden;
    }
    .hero_title{
      line-height: 36px!important;
    }
    .form_cta_home .hero-form{
      margin-top: 25px;
    }
}



